{% extends "base.html" %}
{% block sub_content %}
<div class="text-center">
    <abbr title="Новый пост"><h1>Add New Post</h1></abbr>
</div>
<div class="p-5">
<form method='POST'>
    <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Enter a title">   
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <textarea type="text" class="form-control ckeditor" id="body" name="body" placeholder="Enter your post here">
    </textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock sub_content %}
